@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap');


h2 {
  font-family: "Source Serif 4", serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

h6{
  font-family: "Source Serif 4", serif;
  font-size:16px;
  font-weight: 700;
}

.card h6{
  margin-top: 1em;
}

@media (max-width: 992px) {
  .container-md {
    max-width: 90% !important;
  }
}

/* Animación de despliegue suave para el cuerpo del acordeón */
.accordion-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  padding: 0 12px;
}

/* Estado visible */
.accordion-body.show {
  max-height: 500px; /* suficiente para el contenido */
  opacity: 1;
  padding: 12px;
}